
@{
    ViewBag.Title = "Panel";
}
@{
    Layout = "~/Views/Admin/_LayoutPanel.cshtml";
}

<div>
    Witaj w panelu administratora wirtualnego dziennika Szkoły Podstawowej nr X w Białymstoku.
</div>

<script>
    $(document).ready(function () {
        $("#AdminPanel").addClass("active");
    });
</script>