
@{
    ViewBag.Title = "Panel";
}
@{
    Layout = "~/Views/Admin/_LayoutPanel.cshtml";
}

<div>
    <h3>
        Witaj w panelu administratora wirtualnego dziennika Szkoły Podstawowej nr X w Białymstoku!
    </h3>
</div>

<script>
    $(document).ready(function () {
        $("#AdminPanel").addClass("active");
    });
</script>