@model MVC_DziennikSzkolny.Models.Rodzic

@{
    ViewBag.Title = "Oceny";
}
@{
    Layout = "~/Views/Rodzic/_LayoutPanel.cshtml";
}

<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
});</script>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Matematyka</h3>
    </div>
    <div class="panel-body">
        <!--TODO: oczywiscie scrypty nie dzialaja-->
        <button type="button" class="btn btn-default btn-sm"  data-placement="bottom" data-toggle="popover" 
                data-content="Data_wystawienia opis nauczyciel ..." >3</button>

        <button type="button" class="btn btn-default btn-sm">3</button>
        <button type="button" class="btn btn-default btn-sm">4</button>
        <button type="button" class="btn btn-default btn-sm">6</button>
        <button type="button" class="btn btn-default btn-sm">5</button>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Język polski</h3>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-default btn-sm">2</button>
        <button type="button" class="btn btn-default btn-sm">3</button>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Przyroda</h3>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-default btn-sm">1</button>
        <button type="button" class="btn btn-default btn-sm">5</button>
    </div>
</div>
