@model MVC_DziennikSzkolny.Models.Rodzic
@{
    ViewBag.Title = "Panel";
}
@{
    Layout = "~/Views/Rodzic/_LayoutPanel.cshtml";
}

  <h3>Witaj w panelu rodzica!</h3>
    

<script>
    $(document).ready(function () {
        $("#RodzicPanel").addClass("active");
    });
</script>