@model MVC_DziennikSzkolny.Models.Uczen
@{
    ViewBag.Title = "Panel";
}
@{
    Layout = "~/Views/Uczen/_LayoutPanel.cshtml";
}

<h3>Witaj w panelu ucznia!</h3>
    Nowe oceny
    Nowe treści do przedmiotów
OGŁOSZENIA WYCHOWACY
 