@model MVC_DziennikSzkolny.Models.Uczen
@{
    ViewBag.Title = "Panel";
}
@{
    Layout = "~/Views/Uczen/_LayoutPanel.cshtml";
}

<h3>Witaj w panelu ucznia!</h3>
  
 
<script>
    $(document).ready(function () {
        $("#UczenPanel").addClass("active");
    });
</script>