@model MVC_DziennikSzkolny.Models.Uczen
@{
    ViewBag.Title = "Przedmioty";
}

@{
    Layout = "~/Views/Uczen/_LayoutPanel.cshtml";
}

<table class="table table-hover">


    @foreach (var item in Model.klasa.przedmioty)
    {
        <tr>
            
            <td>
                @Html.ActionLink( item.nauczycielPrzedmiot.przedmiot.nazwa, "DetailsPrzedmiot", new { id = item.nauczycielPrzedmiot.przedmiot.przedmiotID }) 

            </td>
        </tr>
    }

</table>



<script>
    $(document).ready(function () {
        $("#UczenPrzedmioty").addClass("active");
    });
</script>