@model MVC_DziennikSzkolny.Models.Przedmiot

@{
    ViewBag.Title = "DetailsPrzedmiot";
    Layout = "~/Views/Nauczyciel/_LayoutPanel.cshtml";
}

<h2>@Html.DisplayFor(model => model.nazwa)</h2>
<div>Nauczyciele prowadzący:
    @foreach (var n in Model.nauczyciele)
    {
        <ul>
            @Html.DisplayFor(modelN => n.nauczyciel.Nazwisko)
            @Html.DisplayFor(modelN => n.nauczyciel.Imie)
</ul>
    }
    </div>
<div>
    <div>
        
        <button class="btn btn-primary" data-toggle="modal" data-target="#nauczycielPrzedmiotDetailsModal">Dodaj nową treść</button>

       
       
    </div>
    <div><h3>Treści udostępnione przez nauczycieli</h3>
        
        <div class="panel-group">

            <div class="panel panel-default">
                <div class="panel-heading">Treść1</div>
                <div class="panel-body">
                    
                        Informatyka – dyscyplina nauki zaliczana do nauk ścisłych oraz techniki
                        zajmująca się przetwarzaniem informacji, w tym również technologiami
                        przetwarzania informacji oraz technologiami wytwarzania systemów przetwarzających
                        informacje. Początkowo stanowiła część matematyki, później rozwinęła się do odrębnej
                        dyscypliny – pozostaje jednak nadal w ścisłej relacji z matematyką, która dostarcza
                        informatyce podstaw teoretycznych.
                    
                </div></div>
        
        <div class="panel panel-default">

        
                <div class="panel-heading">Treść2</div>
            <div class="panel-body">
                Załączone pliki:
                <ul>plik1</ul>
                <ul>plik2</ul>
                <ul>plki3</ul>
                </div>

            </div>
        <div class="panel panel-default">

          
                <div class="panel-heading">Treść3</div>
            <div class="panel-body">
               
                    Programowanie komputerów – proces projektowania, tworzenia, testowania i
                    utrzymywania kodu źródłowego programów komputerowych lub urządzeń mikroprocesorowych
                    (mikrokontrolery).
               
                </div>
            </div>
            </div>
   
    </div>
    <!--TODO: wyswetl materialy i przycisk dodaj maetrialy -->
</div>


<div class="modal fade" id="nauczycielPrzedmiotDetailsModal" tabindex="-1" role="dialog" aria-labelledby="nauczycielPrzedmiotDetailsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="nauczycielPrzedmiotDetailsModalLabel">Nowa treść</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nazwaTresci" class="control-label">Nazwa:</label>
                        <input type="text" class="form-control" id="nazwaTresci">
                    </div>

                    <div class="form-group">
                        <label for="opisTresci" class="control-label">Opis:</label>
                         <textarea class="form-control" rows="3" placeholder="Wprowadź opis..." id="opisTresci"></textarea>
                    </div>

                    <label class="control-label">Dodaj pliki</label>
                    <input id="input-file" name="inputfile[]" type="file" multiple class="file-loading">
                    <script>
                $(document).on('ready', function () {
                    $("#input-file").fileinput({ showCaption: false });
                });
                    </script>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
    </div>
</div>