
@{
    ViewBag.Title = "Ogloszenia";
}
@{
    Layout = "~/Views/Nauczyciel/_LayoutPanel.cshtml";
}
<h2>Ogloszenia</h2>
<!--TODO:-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nauczycielOgloszeniaModal" data-whatever="xxx">Nowe ogłoszenie</button>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1.09.2016 <b>Kalendarz roku szkolnego 2016/2017</b>

                </a>
            </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <h4>
                    - początek roku szkolnego 1 września 2016 r.
                    - zimowa przerwa świąteczna 2016 r.
                    - ferie zimowe 2017 woj. Lubelskie, Łódzkie, Podkarpackie, Pomorskie, Śląskie
                    - ferie zimowe 2017 woj. Podlaskie, Warmińsko-Mazurskie
                    - ferie zimowe 2017 woj. Kujawsko-Pomorskie, Lubuskie, Małopolskie, Świętokrzyskie, Wielkopolskie
                    - ferie zimowe 2017 woj. Dolnośląskie, Mazowieckie, Opolskie, Zachodniopomorskie
                    - wiosenna przerwa świąteczna 13 kwietnia 2017 r. - 18 kwietnia
                    - koniec roku szkolnego 23 czerwca 2017 r. (wg. projektu nowego rozporządzenia MEN, które zapewne wejdzie w życie)
                    - ferie letnie - wakacje
                </h4>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    1.09.2016  <b>Wywiadówka 20.11.2016r.</b>

                </a>
            </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <h4>
                    Spotkanie z rodzicami odbędzie się 20.11.2016 roku na sali gimnastycznej.
                </h4>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h3 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    1.09.2016<b>   Składki na komitet rodzicielski</b>

                </a>
            </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <h4>    Prosimy o opłacenie komitetu rodzicielskiego do końca miesiąca.</h4>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="nauczycielOgloszeniaModal" tabindex="-1" role="dialog" aria-labelledby="nauczycielOgloszeniaModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="nauczycielOgloszeniaModalLabel">Nowa ogłoszenie dla rodziców</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="tematOgloszenia" class="control-label">Temat:</label>
                        <input type="text" class="form-control" id="tematOgloszenia" >
                    </div>

                    <div class="form-group">
                        <label for="opisOgloszenia" class="control-label">Opis:</label>
                     
                        <textarea class="form-control" rows="3"  placeholder="Wprowadź opis..." id="opisOgloszenia"></textarea>
                      </div>

                    

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#menuOgloszenia").addClass("active");
    });
</script>