@model MVC_DziennikSzkolny.Models.Nauczyciel
@{
    ViewBag.Title = "Panel";
}
@{
    Layout = "~/Views/Nauczyciel/_LayoutPanel.cshtml";
}
<h2>Panel nauczyciela</h2>

<script>
    $(document).ready(function () {
        $("#menuPanel").addClass("active");
    });
</script>