@model MVC_DziennikSzkolny.Models.Nauczyciel

@{
    ViewBag.Title = "Profil";
}
@{
    Layout = "~/Views/Nauczyciel/_LayoutPanel.cshtml";
}
<h2>Profil</h2>

<div>
    <h4>Nauczyciel</h4>
    <hr />


    <table class="table table-hover">
        <tr>
            <td>Imię</td>
            <td>Jan</td>
        </tr>
        <tr>
            <td>Nazwisko</td>
            <td>Kowalski</td>
        </tr>
        <tr>
            <td>Pesel</td>
            <td>99782345612</td>
        </tr>
        <tr>
            <td>Data urodzenia</td>
            <td>23-03-1999</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>malpa@wp.pl</td>
        </tr>

    </table>

</div>
