@model IEnumerable<MVC_DziennikSzkolny.Models.SaleLekcyjne>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Nauczyciel/_LayoutPanel.cshtml";
}

<h2>Lista sal</h2>

<p>
   
    @Html.ActionLink("Zarezerwuj sale", "RezerwujSale", "Nauczyciel")


</p>
<table class="table">
    <tr>
        <th>
           Numer sali
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numerSali)
            </td>
            
            <td>
              
                @Html.ActionLink("Szczegóły", "DetailsSale", new { id = item.saleLekcyjneID }) |
             
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $("#menuSale").addClass("active");
    });
</script>